<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayUs</title>
    <link rel="stylesheet" href="style/font.css">
    <style>
        body {
            margin : 0 auto;
        }

        .loginBox {
            position: absolute;
            top:23%;
            left:25%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        .loginBox span {
            color : #5F62E2;
        }

        .tabBtn {
            display:flex;
            flex-flow: row nowrap;
            /* justify-content: center; */
            /* align-items: center; */
            margin-top : 1.5vh;
            color : #bdbdbd;
            width : 60%;
        }

        .tabBtn > div {
            border-top: solid 5px #bdbdbd;
            font-size: 2.0rem;
            text-align: center;
            width:100%;
            line-height: 7vh;
            cursor: pointer;
        }

        .tabBtn > .active {
            border-top: solid 5px #5F62E2;
            color: #5F62E2;
        }
    </style>
</head>

<body>
    <%- include('navbar', {isLogin: false}); %>
    <main class="loginBox">
        <span class="kanit" style="letter-spacing: 1px; font-size: 4.0rem;">LOG IN</span>
        <div class="tabBtn spoqaHanSans bold">
            <div class="active" id="tab_Login" onclick="tabClick(0)">
                회원 로그인
            </div>
            <div id="tab_Join" onclick="tabClick(1)">
                회원 가입
            </div>
        </div>

        <input type="text" placeholder="ID">
        <input type="password" placeholder="PW">

        <input type="button" value="LOG IN">
    </main>

    <script>
        var tabs = [document.getElementById('tab_Login'), document.getElementById('tab_Join')];
        function tabClick(index) {
            tabs[index].classList.add('active');
            tabs[(index+1)%2].classList.remove('active');
        }
    </script>
</body>

</html>