<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayUs</title>
    <style>
        .navigation-bar {
            width: 100vw;
            height: 100px;
            background: <% if (isLogin) { %>linear-gradient(180deg, rgba(122, 120, 233, 1) 0%, rgba(97, 100, 222, 1) 100%)<% } else { %>white<% } %>;
            display: flex;
            color : <% if (isLogin) { %>white<% } else { %>#5F62E2<% } %>;
        }

        .navigation-bar > span {
            align-self: center;
            margin-left: 20vw;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav class="navigation-bar">
        <span class="kanit h2-like" onclick="location.href='/'">Play Us</span>
    </nav>
</body>
</html>